<div className="container-fluid footer-sale">
    <div className="container">
        <div className="main_div">
            <span id="footer-text">The initial circulating supply is set to 46,000,000
                   CreoEngine, 4.60% of 1,000,000,000 total supply.</span>
            <button className="btn-read" onclick="parent.open('https://tny.sh/CreoEngineWhitepaper')">Read Whitepaper</button>
        </div>
    </div>
    
</div>