<div class="container-fluid footer-sale">
    <div class="container">
        <div class="main_div">
            <span id="footer-text">The initial circulating supply is set to 46,000,000
                   CreoEngine, 4.60% of 1,000,000,000 total supply.</span>
            <button class="btn-read" onclick="parent.open('https://tny.sh/CreoEngineWhitepaper')">Read Whitepaper</button>
        </div>
    </div>
    
</div>