<div class="container-fluid footer-roadmap">
    <div class="container">
        <div class=" row roadmap-div" >
            <div class="col-xs-4 col-sm-6 col-md-5">
                <div class="roadmap-div-div" >
                    <!-- <div style="width: 110px;"> -->
                        <img src="/public/assets/logo-footer.png" style="max-width: 110px; max-height: 40px;" >
                    <!-- </div> -->
        
                    <div class="btn-footer" >
                        <button class="btn-rounded-footer"><i class="fab fa-facebook-f "></i></button>
                        <button class="btn-rounded-footer"><i class="fab fa-twitter "></i></button>
                        <button class="btn-rounded-footer"><i class="fab fa-instagram "></i></button>
                        <button class="btn-rounded-footer"><i class="fab fa-discord "></i></button>
                        <button class="btn-rounded-footer"><i class="fab fa-telegram-plane "></i></button>
                        <button class="btn-rounded-footer"><i class="fab fa-youtube "></i></button>
                        <button class="btn-rounded-footer btn-icon"><i class="fab fa-linkedin-in"></i></button>
                    </div>
                </div>
                
    
            </div>
            <div class="col-xs-4 col-sm-4 col-md-5 white-color" style="font-size: 70%;  text-align: center">
                Any question / feedback? Please contact us: contact@creoengine.com
            </div>
           
            <div class="col-xs-4 col-sm-2 col-md-2 white-color" style="font-size: 70%; text-align: center">
                © 2021 CreoEngine
            </div>
            <img src="/public/assets/icon-creo.png" id="creo-icon-footer">
        </div>
    </div>
   
    
</div>