
<div class="pre-register-landing-wrapper w-100 d-flex justify-content-center ">
    <div class="desktop-view2 w-100">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1920 1205">
            <defs>
                <linearGradient id="linear-gradient" x1="0.06" y1="1" x2="0.617" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#687794"/>
                <stop offset="1" stop-color="#525d74" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="linear-gradient-2" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0.656" stop-color="#d9d9d9"/>
                <stop offset="1" stop-color="#d9d9d9" stop-opacity="0"/>
                </linearGradient>
                <clipPath id="clip-path-dekstop">
                <rect id="Rectangle_1173" data-name="Rectangle 1173" width="1920" height="1205" fill="#fff" stroke="#707070" strokeWidth="1"/>
                </clipPath>
                <pattern id="pattern-desktop" width="1" height="1" viewBox="0.181 59.26 650.232 750.691">
                <image preserveAspectRatio="none" width="650.594" height="1007.003" xlink:href="/public/assets/character_left_top.png"/>
                </pattern>
                <pattern id="pattern-desktop-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 617 259">
                <image width="617" height="259" xlink:href="/public/assets/logo_landing_pre.png"/>
                </pattern>
                <pattern id="pattern-desktop-3" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1402 1096">
                <image width="1402" height="1096" xlink:href="/public/assets//character_left_bottom.png"/>
                </pattern>
                <filter id="JOIN_NOW" x="768.055" y="557.784" width="342" height="129" filterUnits="userSpaceOnUse">
                <feOffset dy="2" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="10" result="blur"/>
                <feFlood/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
                </filter>
                <linearGradient id="linear-gradient-3" x1="0.495" x2="2.314" y2="1.021" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#066585"/>
                <stop offset="0.406" stop-color="#007ea6"/>
                <stop offset="0.854" stop-color="#0091cf"/>
                <stop offset="1" stop-color="#0091cf" stop-opacity="0"/>
                </linearGradient>
                <radialGradient id="radial-gradient" cx="0.493" cy="1" r="0.455" gradientTransform="matrix(0, -0.55, 1.1, 0, 1.05, -0.05)" gradientUnits="objectBoundingBox">
                <stop offset="0.307" stop-color="#9eeeff"/>
                <stop offset="1" stop-color="#57aeff" stop-opacity="0"/>
                <stop offset="1" stop-color="#0085ff" stop-opacity="0"/>
                </radialGradient>
                <clipPath id="clip-path-desktop-2">
                <path id="Vector" d="M353.249,0H30.963L0,65.535l30.963,65.55H353.249l30.964-65.55Z" transform="matrix(1, 0, 0, 1, 750.444, 809.837)" fill="url(#linear-gradient)"/>
                </clipPath>
                <filter id="Vector-2" x="748.196" y="669.472" width="388.068" height="134.939" filterUnits="userSpaceOnUse">
                <feOffset dx="-0.321" dy="0.642" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="0.642" result="blur-2"/>
                <feFlood flood-opacity="0.251"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
                </filter>
                <clipPath id="clip-path-desktop-3">
                <rect id="Rectangle_15" data-name="Rectangle 15" width="738.387" height="707.267" transform="translate(1980.682 764.267) rotate(180)" fill="url(#linear-gradient-2)"/>
                </clipPath>
                <pattern id="pattern-desktop-4" width="1" height="1" viewBox="3.896 0.33 734.446 892.177">
                <image preserveAspectRatio="none" width="742.465" height="882.003" xlink:href="/public/assets/character_right_top.png"/>
                </pattern>
                <pattern id="pattern-desktop-5" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1567 1400">
                <image width="1567" height="1400" xlink:href="/public/assets/character_right_bottom.png"/>
                </pattern>
            </defs>
            <g id="Mask_Group_69" data-name="Mask Group 69" clip-path="url(#clip-path-desktop)">
                <rect id="_0000s_0006_curtis_1" data-name="_0000s_0006_curtis 1" width="650.594" height="869.695" transform="translate(79.03 72.293)" fill="url(#pattern-desktop)"/>
                <rect id="Evermore_Knight_Logo_Blue_Glow_2" data-name="Evermore Knight_Logo_Blue Glow 2" width="708" height="298.141" transform="translate(589 266.054)" fill="url(#pattern-desktop-2)"/>
                <rect id="_0000s_0004_teen-female" width="707.737" height="553.066" transform="translate(-86.046 701.23) rotate(-13.709)" fill="url(#pattern-desktop-3)"/>
                <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#JOIN_NOW)">
                    <text id="JOIN_NOW-2" data-name="JOIN NOW" transform="translate(948.05 641.78)" fill="#fff" font-size="42" letter-spacing="0.085em"><tspan x="-140.544" y="0">JOIN NOW</tspan></text>
                </g>
                <a href="#form" style="text-decoration: none;">
                    <g id="Group_3069" data-name="Group 3069" transform="translate(0 -139.08)">
                        <g id="btn_blue">
                            <g id="Group_3068" data-name="Group 3068">
                                <path id="Vector-3" data-name="Vector" d="M384.213,65.535l-30.963,65.55H30.964L0,65.535,30.964,0H353.249Z" transform="matrix(1, 0, 0, 1, 750.444, 809.837)" fill="#a0edff"/>
                                <path id="Vector-4" data-name="Vector" d="M382.218,63.072l-30.275,65.6L30.275,127.406,0,63.072,28.381,0h321.67Z" transform="translate(751.706 812.359)" fill="url(#linear-gradient-3)"/>
                                <path id="Ellipse_599" data-name="Ellipse 599" d="M315.361,108.267H0S77.9,0,164.981,0,315.361,108.267,315.361,108.267Z" transform="translate(785.765 830.237)" fill="url(#radial-gradient)"/>
                                <g id="Mask_group" data-name="Mask group" opacity="0.4">
                                    <g id="Vector-5" data-name="Vector" clip-path="url(#clip-path-desktop-2)">
                                        <g id="Group_1537" data-name="Group 1537">
                                            <g id="Group">
                                                <path id="Vector-6" data-name="Vector" d="M126.675,62.968A63.338,63.338,0,1,1,63.337,0a63.154,63.154,0,0,1,63.337,62.968Z" transform="translate(682.165 844.504) rotate(-75)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-7" data-name="Vector" d="M716.777,753.071l24.049,41.514-41.374,23.806L675.4,776.877Z" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-8" data-name="Vector" d="M764.47,780.626l13.935,24.056-23.975,13.8L740.5,794.421Z" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-9" data-name="Vector" d="M782.017,715.148l24.049,41.514-41.374,23.806-24.049-41.514Z" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-10" data-name="Vector" d="M754.315,818.544l24.049,41.514L736.99,883.864,712.941,842.35Z" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-11" data-name="Vector" d="M819.574,780.613l24.049,41.514-41.374,23.806L778.2,804.419Z" fill="#fff" opacity="0.3"/>
                                            </g>
                                            <g id="Group-2" data-name="Group">
                                                <path id="Vector-12" data-name="Vector" d="M126.675,62.968A63.338,63.338,0,1,1,63.337,0a63.154,63.154,0,0,1,63.337,62.968Z" transform="translate(850.148 889.515) rotate(-75)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-13" data-name="Vector" d="M884.76,798.079l24.049,41.514L867.435,863.4l-24.049-41.514Z" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-14" data-name="Vector" d="M932.454,825.636l13.935,24.056-23.975,13.8-13.935-24.056Z" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-15" data-name="Vector" d="M950,760.159l24.049,41.514-41.374,23.806-24.049-41.514Z" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-16" data-name="Vector" d="M922.3,863.554l24.049,41.514-41.374,23.806-24.049-41.514Z" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-17" data-name="Vector" d="M987.558,825.624l24.049,41.514-41.374,23.806L946.184,849.43Z" fill="#fff" opacity="0.3"/>
                                            </g>
                                            <g id="Group-3" data-name="Group">
                                                <path id="Vector-18" data-name="Vector" d="M125.936,62.968A62.968,62.968,0,1,1,62.968,0a62.968,62.968,0,0,1,62.968,62.968Z" transform="translate(743.745 950.643) rotate(-75)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-19" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 778.217, 859.754)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-20" data-name="Vector" d="M0,0H27.65V27.65H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 825.931, 887.234)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-21" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 843.377, 822.137)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-22" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 815.835, 924.93)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-23" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 881.005, 887.298)" fill="#fff" opacity="0.3"/>
                                            </g>
                                            <g id="Group-4" data-name="Group">
                                                <path id="Vector-24" data-name="Vector" d="M125.936,62.968A62.968,62.968,0,1,1,62.968,0a62.968,62.968,0,0,1,62.968,62.968Z" transform="translate(788.749 782.667) rotate(-75)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-25" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 823.221, 691.784)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-26" data-name="Vector" d="M0,0H27.65V27.65H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 870.935, 719.257)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-27" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 888.37, 654.161)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-28" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 860.829, 756.954)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-29" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 926.008, 719.329)" fill="#fff" opacity="0.3"/>
                                            </g>
                                            <g id="Group-5" data-name="Group">
                                                <path id="Vector-30" data-name="Vector" d="M125.936,62.968A62.968,62.968,0,1,1,62.968,0a62.968,62.968,0,0,1,62.968,62.968Z" transform="translate(846.199 1033.907) rotate(-75)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-31" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 880.661, 943.015)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-32" data-name="Vector" d="M0,0H27.65V27.65H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 928.375, 970.495)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-33" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 945.821, 905.396)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-34" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 918.279, 1008.189)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-35" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 983.449, 970.558)" fill="#fff" opacity="0.3"/>
                                            </g>
                                            <g id="Group-6" data-name="Group">
                                                <path id="Vector-36" data-name="Vector" d="M125.936,62.968A62.968,62.968,0,1,1,62.968,0a62.968,62.968,0,0,1,62.968,62.968Z" transform="translate(637.131 1012.618) rotate(-75)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-37" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 671.593, 921.731)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-38" data-name="Vector" d="M0,0H27.65V27.65H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 719.307, 949.209)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-39" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 736.753, 884.112)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-40" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 709.211, 986.905)" fill="#fff" opacity="0.3"/>
                                                <path id="Vector-41" data-name="Vector" d="M0,0H47.716V47.716H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 774.381, 949.273)" fill="#fff" opacity="0.3"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                                <g transform="matrix(1, 0, 0, 1, 0, 139.08)" filter="url(#Vector-2)">
                                    <path id="Vector-42" data-name="Vector" d="M10.342,72.963,5.373,65.542l4.969-7.407,4.969,7.407ZM372.869,58.136l4.969,7.407-4.969,7.407L367.9,65.542Zm11.344,7.407L352.8,131.084H31.414L0,65.542,31.414,0h321.4ZM373.8,50.714l-9.773,14.828L373.8,80.37l7.109-14.828ZM3.308,65.542,10,79.5l9.2-13.961L10,51.581Zm369.92,16-10.551-16,10.551-16L350.9,2.939H33.3L10.566,50.406l9.968,15.136L10.566,80.679l22.749,47.467h317.6Z" transform="matrix(1, 0, 0, 1, 750.44, 670.76)" fill="#c3a76d"/>
                                </g>
                            </g>
                        </g>
                        <text id="PRE-REGISTER" transform="translate(734.444 850.432)" fill="#fff" font-size="40"  font-weight="700"><tspan x="57.146" y="43" xml:space="preserve">PRE-REGISTER         </tspan></text>
                    </g>
                </a>
                <g id="Mask_group-2" data-name="Mask group">
                    <g id="Rectangle_15-2" data-name="Rectangle 15" clip-path="url(#clip-path-desktop-3)">
                        <rect id="_0000s_0002_Astra_2" data-name="_0000s_0002_Astra 2" width="734.222" height="882.003" transform="translate(1223.095 149.81) rotate(-9.799)" fill="url(#pattern-desktop-4)"/>
                    </g>
                </g>
                <rect id="_0000s_0003_Adult-male_1" data-name="_0000s_0003_Adult-male 1" width="735" height="654" transform="translate(1238 551)" fill="url(#pattern-desktop-5)"/>
            </g>
        </svg>
    </div>
    

    <div class="mobile-view2 w-100">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 390 352">
            <defs>
              <linearGradient id="linear-gradient-mobile" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0.656" stop-color="#d9d9d9"/>
                <stop offset="1" stop-color="#d9d9d9" stop-opacity="0"/>
              </linearGradient>
              <linearGradient id="linear-gradient-mobile-2" x1="0.06" y1="1" x2="0.617" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#687794"/>
                <stop offset="1" stop-color="#525d74" stop-opacity="0"/>
              </linearGradient>
              <clipPath id="clip-path-mobile">
                <rect id="Rectangle_1174" data-name="Rectangle 1174" width="390" height="352" fill="#fff" stroke="#707070" stroke-width="1"/>
              </clipPath>
              <pattern id="pattern" width="1" height="1" viewBox="0.04 13.189 144.72 167.079">
                <image preserveAspectRatio="none" width="144.801" height="224.126" xlink:href="/public/assets/character_left_top.png"/>
              </pattern>
              <pattern id="pattern-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1402 1096">
                <image width="1402" height="1096" xlink:href="/public/assets/character_left_bottom.png"/>
              </pattern>
              <clipPath id="clip-path-mobile-2">
                <rect id="Rectangle_15" data-name="Rectangle 15" width="164.34" height="157.414" transform="translate(164.34 157.414) rotate(180)" fill="url(#linear-gradient)"/>
              </clipPath>
              <pattern id="pattern-3" width="1" height="1" viewBox="0.867 0.073 163.463 198.569">
                <image preserveAspectRatio="none" width="165.248" height="196.305" xlink:href="/public/assets/character_right_top.png"/>
              </pattern>
              <pattern id="pattern-4" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1567 1400">
                <image width="1567" height="1400" xlink:href="/public/assets/character_right_bottom.png"/>
              </pattern>
              <pattern id="pattern-5" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 617 259">
                <image width="617" height="259" xlink:href="/public/assets/logo_landing_pre.png"/>
              </pattern>
              <filter id="JOIN_NOW-mobile" x="99" y="178.231" width="190" height="92" filterUnits="userSpaceOnUse">
                <feOffset dy="2" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="10" result="blur"/>
                <feFlood/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <linearGradient id="linear-gradient-mobile-3" x1="0.495" x2="2.314" y2="1.021" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#066585"/>
                <stop offset="0.406" stop-color="#007ea6"/>
                <stop offset="0.854" stop-color="#0091cf"/>
                <stop offset="1" stop-color="#0091cf" stop-opacity="0"/>
              </linearGradient>
              <radialGradient id="radial-gradient-mobile" cx="0.493" cy="1" r="0.455" gradientTransform="matrix(0, -0.55, 1.1, 0, 1.05, -0.05)" gradientUnits="objectBoundingBox">
                <stop offset="0.307" stop-color="#9eeeff"/>
                <stop offset="1" stop-color="#57aeff" stop-opacity="0"/>
                <stop offset="1" stop-color="#0085ff" stop-opacity="0"/>
              </radialGradient>
              <clipPath id="clip-path-mobile-3">
                <path id="Vector-mobile" d="M138.8,0H12.166L0,25.75,12.166,51.505H138.8L150.964,25.75Z" transform="matrix(1, 0, 0, 1, 0, 0)" fill="url(#linear-gradient-mobile-2)"/>
              </clipPath>
              <filter id="Vector-2-mobile" x="117.27" y="258.14" width="154.818" height="55.36" filterUnits="userSpaceOnUse">
                <feOffset dx="-0.321" dy="0.642" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="0.642" result="blur-2"/>
                <feFlood flood-opacity="0.251"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g id="Mask_Group_70" data-name="Mask Group 70" clip-path="url(#clip-path-mobile)">
              <g id="Group_2177" data-name="Group 2177">
                <g id="Group_2176" data-name="Group 2176" transform="translate(-49.046 60.404)">
                  <rect id="_0000s_0006_curtis_1" data-name="_0000s_0006_curtis 1" width="144.801" height="193.565" transform="translate(36.74 0)" fill="url(#pattern)"/>
                  <rect id="_0000s_0004_teen-female" width="157.519" height="123.094" transform="translate(0 139.98) rotate(-13.709)" fill="url(#pattern-2)"/>
                </g>
                <g id="Group_2175" data-name="Group 2175" transform="translate(255.456 57)">
                  <g id="Mask_group" data-name="Mask group" transform="translate(1.143 0)">
                    <g id="Rectangle_15-2" data-name="Rectangle 15" transform="translate(0)" clip-path="url(#clip-path-mobile-2)">
                      <rect id="_0000s_0002_Astra_2" data-name="_0000s_0002_Astra 2" width="163.414" height="196.305" transform="translate(-4.273 20.656) rotate(-9.799)" fill="url(#pattern-3)"/>
                    </g>
                  </g>
                  <rect id="_0000s_0003_Adult-male_1" data-name="_0000s_0003_Adult-male 1" width="164" height="146" transform="translate(-0.456 110)" fill="url(#pattern-4)"/>
                </g>
              </g>
              <rect id="Evermore_Knight_Logo_Blue_Glow_2" data-name="Evermore Knight_Logo_Blue Glow 2" width="244.281" height="102.867" transform="translate(73.129 91.939)" fill="url(#pattern-5)"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#JOIN_NOW-mobile)">
                <text id="JOIN_NOW-2" data-name="JOIN NOW" transform="translate(113 232.23)" fill="#fff" font-size="24" letter-spacing="0.085em"><tspan x="0" y="0">JOIN NOW</tspan></text>
              </g>
              <g id="Group_2174" data-name="Group 2174" transform="translate(-0.715 -256.95)">
                <g id="Group_3069" data-name="Group 3069" transform="translate(120.233 516.375)">
                  <g id="btn_blue" transform="translate(0 0)">
                    <g id="Group_3068" data-name="Group 3068" transform="translate(0 0)">
                      <path id="Vector-3-mobile" data-name="Vector" d="M150.964,25.75,138.8,51.505H12.166L0,25.75,12.166,0H138.8Z" transform="matrix(1, 0, 0, 1, 0, 0)" fill="#a0edff"/>
                      <path id="Vector-4-mobile" data-name="Vector" d="M150.18,24.782l-11.9,25.773L11.9,50.06,0,24.782,11.152,0h126.39Z" transform="translate(0.496 0.991)" fill="url(#linear-gradient-mobile-3)"/>
                      <path id="Ellipse_599" data-name="Ellipse 599" d="M123.911,42.54H0S30.607,0,64.824,0,123.911,42.54,123.911,42.54Z" transform="translate(13.878 8.016)" fill="url(#radial-gradient-mobile)"/>
                      <g id="Mask_group-2" data-name="Mask group" transform="translate(0 0)" opacity="0.4">
                        <g id="Vector-5-mobile" data-name="Vector" transform="translate(0 0)" clip-path="url(#clip-path-mobile-3)">
                          <g id="Group_1537" data-name="Group 1537" transform="translate(-47.218 -61.168)">
                            <g id="Group" transform="translate(17.733 23.963)">
                              <path id="Vector-6-mobile" data-name="Vector" d="M49.773,24.741A24.887,24.887,0,1,1,24.886,0,24.814,24.814,0,0,1,49.773,24.741Z" transform="translate(2.657 50.826) rotate(-75)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-7-mobile" data-name="Vector" d="M691.66,753.071l9.449,16.311-16.257,9.354L675.4,762.425Z" transform="translate(-675.403 -738.17)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-8-mobile" data-name="Vector" d="M749.915,780.625l5.476,9.452-9.42,5.42-5.475-9.452Z" transform="translate(-714.919 -754.898)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-9-mobile" data-name="Vector" d="M756.9,715.148l9.449,16.312-16.256,9.354L740.643,724.5Z" transform="translate(-715.009 -715.148)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-10-mobile" data-name="Vector" d="M729.2,818.544l9.449,16.311-16.256,9.354L712.941,827.9Z" transform="translate(-698.192 -777.918)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-11-mobile" data-name="Vector" d="M794.457,780.613l9.449,16.311-16.256,9.354L778.2,789.967Z" transform="translate(-737.809 -754.891)" fill="#fff" opacity="0.3"/>
                            </g>
                            <g id="Group-2" data-name="Group" transform="translate(83.737 41.648)">
                              <path id="Vector-12-mobile" data-name="Vector" d="M49.773,24.741A24.887,24.887,0,1,1,24.886,0,24.814,24.814,0,0,1,49.773,24.741Z" transform="translate(2.657 50.826) rotate(-75)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-13-mobile" data-name="Vector" d="M859.643,798.079l9.449,16.311-16.256,9.354-9.449-16.311Z" transform="translate(-843.386 -783.18)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-14-mobile" data-name="Vector" d="M917.9,825.636l5.475,9.452-9.42,5.42-5.475-9.452Z" transform="translate(-882.903 -799.909)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-15-mobile" data-name="Vector" d="M924.883,760.159l9.449,16.311-16.257,9.354-9.449-16.312Z" transform="translate(-882.992 -760.159)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-16-mobile" data-name="Vector" d="M897.181,863.554l9.449,16.311-16.256,9.354-9.449-16.311Z" transform="translate(-866.175 -822.929)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-17-mobile" data-name="Vector" d="M962.441,825.624l9.449,16.311-16.257,9.354-9.449-16.311Z" transform="translate(-905.793 -799.901)" fill="#fff" opacity="0.3"/>
                            </g>
                            <g id="Group-3" data-name="Group" transform="translate(41.895 66.001)">
                              <path id="Vector-18-mobile" data-name="Vector" d="M49.483,24.741A24.741,24.741,0,1,1,24.741,0,24.741,24.741,0,0,1,49.483,24.741Z" transform="translate(2.691 50.492) rotate(-75)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-19-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 16.236, 14.78)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-20-mobile" data-name="Vector" d="M0,0H10.864V10.864H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 34.984, 25.578)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-21-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 41.839, 0)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-22-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 31.017, 40.389)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-23-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 56.623, 25.603)" fill="#fff" opacity="0.3"/>
                            </g>
                            <g id="Group-4" data-name="Group" transform="translate(59.577 0)">
                              <path id="Vector-24-mobile" data-name="Vector" d="M49.483,24.741A24.741,24.741,0,1,1,24.741,0,24.741,24.741,0,0,1,49.483,24.741Z" transform="translate(2.691 50.492) rotate(-75)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-25-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 16.236, 14.783)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-26-mobile" data-name="Vector" d="M0,0H10.864V10.864H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 34.984, 25.578)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-27-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 41.834, 0)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-28-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 31.013, 40.389)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-29-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 56.623, 25.605)" fill="#fff" opacity="0.3"/>
                            </g>
                            <g id="Group-5" data-name="Group" transform="translate(82.146 98.715)">
                              <path id="Vector-30-mobile" data-name="Vector" d="M49.483,24.741A24.741,24.741,0,1,1,24.741,0,24.741,24.741,0,0,1,49.483,24.741Z" transform="translate(2.696 50.494) rotate(-75)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-31-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 16.236, 14.781)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-32-mobile" data-name="Vector" d="M0,0H10.864V10.864H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 34.984, 25.578)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-33-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 41.839, 0)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-34-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 31.017, 40.389)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-35-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 56.623, 25.603)" fill="#fff" opacity="0.3"/>
                            </g>
                            <g id="Group-6" data-name="Group" transform="translate(0 90.352)">
                              <path id="Vector-36-mobile" data-name="Vector" d="M49.483,24.741A24.741,24.741,0,1,1,24.741,0,24.741,24.741,0,0,1,49.483,24.741Z" transform="translate(2.696 50.492) rotate(-75)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-37-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 16.236, 14.781)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-38-mobile" data-name="Vector" d="M0,0H10.864V10.864H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 34.984, 25.578)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-39-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 41.839, 0)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-40-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 31.017, 40.389)" fill="#fff" opacity="0.3"/>
                              <path id="Vector-41-mobile" data-name="Vector" d="M0,0H18.748V18.748H0Z" transform="matrix(0.5, 0.866, -0.866, 0.5, 56.623, 25.603)" fill="#fff" opacity="0.3"/>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g transform="matrix(1, 0, 0, 1, -119.52, -259.42)" filter="url(#Vector-2-mobile)">
                        <path id="Vector-42-mobile" data-name="Vector" d="M4.063,28.669,2.111,25.753l1.952-2.91,1.952,2.91Zm142.443-5.826,1.952,2.91-1.952,2.91-1.952-2.91Zm4.457,2.91L138.621,51.505H12.343L0,25.753,12.343,0H138.627Zm-4.093-5.826-3.84,5.826,3.84,5.826,2.793-5.826ZM1.3,25.753l2.629,5.485,3.617-5.485L3.928,20.267Zm145.348,6.288L142.5,25.753l4.146-6.288-8.774-18.31H13.084L4.152,19.805l3.916,5.947L4.152,31.7,13.09,50.35H137.88Z" transform="matrix(1, 0, 0, 1, 119.52, 259.42)" fill="#c3a76d"/>
                      </g>
                    </g>
                  </g>
                </g>
                <text id="PRE-REGISTER" transform="translate(105.715 530.149)" fill="#fff" font-size="16"  font-weight="700"><tspan x="30.016" y="17" xml:space="preserve">PRE-REGISTER         </tspan></text>
              </g>
            </g>
        </svg>
          
          
          

    </div>

    
</div>
