
<div class="pre-register-landing-wrapper w-100  ">
    <div class="w-100"  style="position: relative;">
      <div class="desktop-view2 w-100" style="">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1920 1205">
            <defs>
                <linearGradient id="linear-gradient" x1="0.06" y1="1" x2="0.617" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#687794"/>
                <stop offset="1" stop-color="#525d74" stop-opacity="0"/>
                </linearGradient>
                <linearGradient id="linear-gradient-2" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0.656" stop-color="#d9d9d9"/>
                <stop offset="1" stop-color="#d9d9d9" stop-opacity="0"/>
                </linearGradient>
                <clipPath id="clip-path-dekstop">
                <rect id="Rectangle_1173" data-name="Rectangle 1173" width="1920" height="1205" fill="#fff" stroke="#707070" strokeWidth="1"/>
                </clipPath>
                <pattern id="pattern-desktop" width="1" height="1" viewBox="0.181 59.26 650.232 750.691">
                <image preserveAspectRatio="none" width="650.594" height="1007.003" xlink:href="/public/assets/character_left_top.png"/>
                </pattern>
                <pattern id="pattern-desktop-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 617 259">
                <image width="617" height="259" xlink:href="/public/assets/logo_landing_pre.png"/>
                </pattern>
                <pattern id="pattern-desktop-3" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1402 1096">
                <image width="1402" height="1096" xlink:href="/public/assets//character_left_bottom.png"/>
                </pattern>
                <pattern  id="pattern-desktop-6" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 951 1024">
                  <image  id="img-down" width="951" height="1024" xlink:href="/public/assets/arrow_bottom.png"/>
                  
                </pattern>
                <filter id="yes-03" x="942.046" y="803" width="209" height="215" filterUnits="userSpaceOnUse">
                  <feOffset dy="3" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="20" result="blur-2"/>
                  <feFlood flood-color="#f6df00"/>
                  <feComposite operator="in" in2="blur-2"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="JOIN_NOW" x="768.055" y="557.784" width="342" height="129" filterUnits="userSpaceOnUse">
                <feOffset dy="2" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="10" result="blur"/>
                <feFlood/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
                </filter>
                <linearGradient id="linear-gradient-3" x1="0.495" x2="2.314" y2="1.021" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#066585"/>
                <stop offset="0.406" stop-color="#007ea6"/>
                <stop offset="0.854" stop-color="#0091cf"/>
                <stop offset="1" stop-color="#0091cf" stop-opacity="0"/>
                </linearGradient>
                <radialGradient id="radial-gradient" cx="0.493" cy="1" r="0.455" gradientTransform="matrix(0, -0.55, 1.1, 0, 1.05, -0.05)" gradientUnits="objectBoundingBox">
                <stop offset="0.307" stop-color="#9eeeff"/>
                <stop offset="1" stop-color="#57aeff" stop-opacity="0"/>
                <stop offset="1" stop-color="#0085ff" stop-opacity="0"/>
                </radialGradient>
                <clipPath id="clip-path-desktop-2">
                <path id="Vector" d="M353.249,0H30.963L0,65.535l30.963,65.55H353.249l30.964-65.55Z" transform="matrix(1, 0, 0, 1, 750.444, 809.837)" fill="url(#linear-gradient)"/>
                </clipPath>
                <filter id="Vector-2" x="748.196" y="669.472" width="388.068" height="134.939" filterUnits="userSpaceOnUse">
                <feOffset dx="-0.321" dy="0.642" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="0.642" result="blur-2"/>
                <feFlood flood-opacity="0.251"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
                </filter>
                <clipPath id="clip-path-desktop-3">
                <rect id="Rectangle_15" data-name="Rectangle 15" width="738.387" height="707.267" transform="translate(1980.682 764.267) rotate(180)" fill="url(#linear-gradient-2)"/>
                </clipPath>
                <pattern id="pattern-desktop-4" width="1" height="1" viewBox="3.896 0.33 734.446 892.177">
                <image preserveAspectRatio="none" width="742.465" height="882.003" xlink:href="/public/assets/character_right_top.png"/>
                </pattern>
                <pattern id="pattern-desktop-5" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1567 1400">
                <image width="1567" height="1400" xlink:href="/public/assets/character_right_bottom.png"/>
                </pattern>
            </defs>
            <g id="Mask_Group_69" data-name="Mask Group 69" clip-path="url(#clip-path-desktop)">
                <rect id="_0000s_0006_curtis_1" data-name="_0000s_0006_curtis 1" width="650.594" height="869.695" transform="translate(79.03 72.293)" fill="url(#pattern-desktop)"/>
                <rect id="Evermore_Knight_Logo_Blue_Glow_2" data-name="Evermore Knight_Logo_Blue Glow 2" width="708" height="298.141" transform="translate(589 266.054)" fill="url(#pattern-desktop-2)"/>
                <rect id="_0000s_0004_teen-female" width="707.737" height="553.066" transform="translate(-86.046 701.23) rotate(-13.709)" fill="url(#pattern-desktop-3)"/>
                <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#JOIN_NOW)">
                    <text id="JOIN_NOW-2" data-name="JOIN NOW" transform="translate(928.05 671.78)" fill="#fff" font-size="48" letter-spacing="0.085em"><tspan x="-140.544" y="0">JOIN NOW</tspan></text>
                </g>
                
                
                <g id="Mask_group-2" data-name="Mask group">
                    <g id="Rectangle_15-2" data-name="Rectangle 15" clip-path="url(#clip-path-desktop-3)">
                        <rect id="_0000s_0002_Astra_2" data-name="_0000s_0002_Astra 2" width="734.222" height="882.003" transform="translate(1223.095 149.81) rotate(-9.799)" fill="url(#pattern-desktop-4)"/>
                    </g>
                </g>
                <rect id="_0000s_0003_Adult-male_1" data-name="_0000s_0003_Adult-male 1" width="735" height="654" transform="translate(1238 551)" fill="url(#pattern-desktop-5)"/>
                <!-- <foreignObject width="100%" height="100%"> -->
                  <g class="bounce2">
                    <g  transform="matrix(1, 0, 0, 1, -86.05, 77)" filter="url(#yes-03)" >
                      <rect id="yes-03-2" data-name="yes-03" width="89" height="95" transform="translate(1002.05 860)" fill="url(#pattern-desktop-6)" />
                      
                    </g>
                  </g>
                <!-- </foreignObject> -->
            </g>  
        </svg>
            
      </div>
      <div class="mobile-view2 w-100">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 390 322">
            <defs>
              <linearGradient id="linear-gradient-mobile" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0.656" stop-color="#d9d9d9"/>
                <stop offset="1" stop-color="#d9d9d9" stop-opacity="0"/>
              </linearGradient>
              <linearGradient id="linear-gradient-mobile-2" x1="0.06" y1="1" x2="0.617" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#687794"/>
                <stop offset="1" stop-color="#525d74" stop-opacity="0"/>
              </linearGradient>
              <clipPath id="clip-path-mobile">
                <rect id="Rectangle_1174" data-name="Rectangle 1174" width="390" height="352" fill="#fff" stroke="#707070" stroke-width="1"/>
              </clipPath>
              <pattern id="pattern" width="1" height="1" viewBox="0.04 13.189 144.72 167.079">
                <image preserveAspectRatio="none" width="144.801" height="224.126" xlink:href="/public/assets/character_left_top.png"/>
              </pattern>
              <pattern id="pattern-2" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1402 1096">
                <image width="1402" height="1096" xlink:href="/public/assets/character_left_bottom.png"/>
              </pattern>
              <clipPath id="clip-path-mobile-2">
                <rect id="Rectangle_15" data-name="Rectangle 15" width="164.34" height="157.414" transform="translate(164.34 157.414) rotate(180)" fill="url(#linear-gradient)"/>
              </clipPath>
              <pattern id="pattern-3" width="1" height="1" viewBox="0.867 0.073 163.463 198.569">
                <image preserveAspectRatio="none" width="165.248" height="196.305" xlink:href="/public/assets/character_right_top.png"/>
              </pattern>
              <pattern id="pattern-4" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 1567 1400">
                <image width="1567" height="1400" xlink:href="/public/assets/character_right_bottom.png"/>
              </pattern>
              <pattern id="pattern-5" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 617 259">
                <image width="617" height="259" xlink:href="/public/assets/logo_landing_pre.png"/>
              </pattern>
              <filter id="JOIN_NOW-mobile" x="99" y="178.231" width="190" height="92" filterUnits="userSpaceOnUse">
                <feOffset dy="2" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="10" result="blur"/>
                <feFlood/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <linearGradient id="linear-gradient-mobile-3" x1="0.495" x2="2.314" y2="1.021" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#066585"/>
                <stop offset="0.406" stop-color="#007ea6"/>
                <stop offset="0.854" stop-color="#0091cf"/>
                <stop offset="1" stop-color="#0091cf" stop-opacity="0"/>
              </linearGradient>
              <radialGradient id="radial-gradient-mobile" cx="0.493" cy="1" r="0.455" gradientTransform="matrix(0, -0.55, 1.1, 0, 1.05, -0.05)" gradientUnits="objectBoundingBox">
                <stop offset="0.307" stop-color="#9eeeff"/>
                <stop offset="1" stop-color="#57aeff" stop-opacity="0"/>
                <stop offset="1" stop-color="#0085ff" stop-opacity="0"/>
              </radialGradient>
              <clipPath id="clip-path-mobile-3">
                <path id="Vector-mobile" d="M138.8,0H12.166L0,25.75,12.166,51.505H138.8L150.964,25.75Z" transform="matrix(1, 0, 0, 1, 0, 0)" fill="url(#linear-gradient-mobile-2)"/>
              </clipPath>
              <filter id="Vector-2-mobile" x="117.27" y="258.14" width="154.818" height="55.36" filterUnits="userSpaceOnUse">
                <feOffset dx="-0.321" dy="0.642" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="0.642" result="blur-2"/>
                <feFlood flood-opacity="0.251"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g id="Mask_Group_70" data-name="Mask Group 70" clip-path="url(#clip-path-mobile)">
              <g id="Group_2177" data-name="Group 2177">
                <g id="Group_2176" data-name="Group 2176" transform="translate(-49.046 60.404)">
                  <rect id="_0000s_0006_curtis_1" data-name="_0000s_0006_curtis 1" width="144.801" height="193.565" transform="translate(36.74 0)" fill="url(#pattern)"/>
                  <rect id="_0000s_0004_teen-female" width="157.519" height="123.094" transform="translate(0 139.98) rotate(-13.709)" fill="url(#pattern-2)"/>
                </g>
                <g id="Group_2175" data-name="Group 2175" transform="translate(255.456 57)">
                  <g id="Mask_group" data-name="Mask group" transform="translate(1.143 0)">
                    <g id="Rectangle_15-2" data-name="Rectangle 15" transform="translate(0)" clip-path="url(#clip-path-mobile-2)">
                      <rect id="_0000s_0002_Astra_2" data-name="_0000s_0002_Astra 2" width="163.414" height="196.305" transform="translate(-4.273 20.656) rotate(-9.799)" fill="url(#pattern-3)"/>
                    </g>
                  </g>
                  <rect id="_0000s_0003_Adult-male_1" data-name="_0000s_0003_Adult-male 1" width="164" height="146" transform="translate(-0.456 110)" fill="url(#pattern-4)"/>
                </g>
              </g>
              <rect id="Evermore_Knight_Logo_Blue_Glow_2" data-name="Evermore Knight_Logo_Blue Glow 2" width="244.281" height="102.867" transform="translate(73.129 91.939)" fill="url(#pattern-5)"/>
              <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#JOIN_NOW-mobile)">
                <text id="JOIN_NOW-2" data-name="JOIN NOW" transform="translate(113 232.23)" fill="#fff" font-size="24" letter-spacing="0.085em"><tspan x="0" y="0">JOIN NOW</tspan></text>
              </g>
              
            </g>
        </svg>
      </div>  
      
      <div class="form-wrapper">
        <form id="form" class="pre-register-form"  action="#form" method="post">
          <input  name="email"
            class="p-10 md:pl-40"
            type="email"
            placeholder="Put Your E-mail Address"
            required
          />
          <button class="btn-submit-pre" type="submit">PRE-REGISTER</button>
        </form>
      </div>
      

      
    
    </div>

    
</div>

