<!-- <div class="form-wrapper">
        <form id="form" class="pre-register-form"  action="#form" method="post">
          <input  name="email"
            class="p-10 md:pl-40"
            type="email"
            placeholder="Put Your E-mail Address"
            required
          />
          <button class="btn-submit-pre" type="submit">PRE-REGISTER</button>
        </form>
      </div> -->