<%- include ('partials/header_app',{title:"Creo Engine"}) %> 

<section className='bg-light'>
    <div className="container">
        <div className="font-barlow pv-3">
            <div className="row  align-items-center h-100">
                <div className="col text-center text-dark">
                    <div className="row">
                        <div className="col">
                            <div className="card mb-3">
                                <div className="card-header">
                                    Creo Owned
                                </div>
                                <div className="card-body">
                                    <div id="creo-owned">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div className="row mb-3">
                        <div className="col">
                            <div className="card mb-3" style="height:100%">
                                <div className="card-header">
                                    Creo Locked (<span className='jmlvesting'>0</span>)
                                </div>
                                <div className="card-body">
                                    <div id='vesting-list'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div className="row mb-3">
                        <div className="col">
                            <div className="card text-center" style="height: 100%;">
                                <div className="card-title">
                                    <div className="card-header">
                                        Seed Sale <span className='sale-period'>-</span>
                                    </div>
                                </div>
                                <div className="card-body">
                                    <div className="row mb-3">
                                        <div className="col">
                                             <a className='sale-kuota text-med text-main'>
                                                0<br/>
                                                CREOENGINE
                                             </a>
                                        </div>
                                    </div>
                                    <div className="row mb-3">
                                        <div className="col">
                                            Start<br/>
                                            <span className='sale-start'>
                                                -
                                            </span>
                                        </div>
                                    </div>
                                    <div className="row mb-3">
                                        <div className="col">
                                            End<br/>
                                            <span className='sale-end'>
                                                -
                                            </span>
                                        </div>
                                    </div>
                                    <div className="row mb-3">
                                        <div className="col">
                                            Token Price<br/>
                                            <span className='sale-price'>
                                                0 BUSD
                                            </span>
                                        </div>
                                    </div>
                                    <div className="row mb-3">
                                        <div className="col">
                                            Token Allocation<br/>
                                             <span className='sale-allocation'>
                                                0
                                            </span>
                                            % From Total Supply
                                        </div>
                                    </div>
                                    <div className="row mb-3">
                                        <div className="col">
                                            Token Remaining<br/>
                                            <span className='sale-remaining'>
                                                0 CREOENGINE
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <div className="row mb-3">
                                        <div className="col">
                                            Allocation<br/>
                                            <span className='sale-allocation'>
                                                0
                                            </span>
                                            % From Total Supply
                                        </div>
                                    </div> -->
                                    <hr/>
                                    <div id='div-to-open-buy'>
                                        <button className='btn btn-success' data-toggle='modal' data-target='#modal-buy-token'>
                                            Buy Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
  
                 </div>
            </div>
        </div>
    </div>
   
</section>

<!-- 1637317200
1637319000
1637319927.578 -->

<div className="modal" id="modal-buy-token">
    <div className="modal-dialog">
        <div className="modal-content bg-dark font-barlow">
            <div className="modal-header">
                <h4 className="modal-title">
                    BUY CREO
                </h4>
                <button type="button" className="close" data-dismiss="modal">&times;</button>
            </div>
            <div className="modal-body">
                <div className="row mb-3">
                    <div className="col">
                        Seed Sale 
                    </div>
                    <div className="col">
                        <span className='sale-period'>-</span>
                    </div>
                </div>
                <div className="row mb-3">
                    <div className="col">
                        Token Price
                    </div>
                    <div className="col">
                        <span className='sale-price'>-</span>
                    </div>
                </div>
                <div className="row mb-3">
                    <div className="col align-self-center">
                        CREO Amount
                    </div>
                    <div className="col">
                        <input type='number' className='form-control' id='buyamount' onkeyup="calctotalbuy(this.value)">
                    </div>
                </div>
                <hr/>
                <div className="row">
                    <div className="col text-center">
                        Total<br/>
                        <span id='totalbuy'>0</span>
                        BUSD<br/>
                    </div>
                </div>
                <hr/>
                <div className="row">
                    <div className="col">
                        <button className='btn btn-primary btn-block' id='btn-approve-busd' onclick="approveapp('busd')">
                            Approve BUSD
                        </button>
                    </div>
                    <div className="col">
                        <button className='btn btn-success btn-block' onclick="buytoken()" id='btn-buy-now'>
                            Buy Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/footer_app') %>
<script> 
    function slide(el,dir){
        // console.log("el : "+el);
        // console.log("el : "+dir);

        var l=$("."+el).scrollLeft();
        // var r=$("."+el).scrollRight();

        // var leftPos = $('.innerWrapper').scrollLeft();
        if(dir=='right'){
            $("."+el).animate({scrollLeft: l + 200}, 300);
        }else{
            $("."+el).animate({scrollLeft: l - 200}, 300);
        }
        // $("."+el).scrollLeft(100);

        // console.log("l : "+l);
        // console.log("r : "+r);
        
    }
    // $(function(){
    //     $().timelinr({
    //         // autoPlay: 'true',
    //         // autoPlayDirection: 'forward',
    //         startAt: 1,
    //         // orientation:'vertical'
    //     })
    // });
    // $('#recipeCarousel').carousel({
    // interval: 10000
    // })

    // $('.carousel .carousel-item').each(function(){
    //     var minPerSlide = 3;
    //     var next = $(this).next();
    //     if (!next.length) {
    //     next = $(this).siblings(':first');
    //     }
    //     next.children(':first-child').clone().appendTo($(this));
        
    //     for (var i=0;i<minPerSlide;i++) {
    //         next=next.next();
    //         if (!next.length) {
    //             next = $(this).siblings(':first');
    //         }
            
    //         next.children(':first-child').clone().appendTo($(this));
    //     }
    // });

</script> 



 </body>
</html>
