<section style="height: 90vh; display: flex; align-items: center; justify-content: center;">

    <div className="container-fluid" style="max-width: 475px; width: 100%;">
        <img src="/public/assets/oops mammon.png" style="max-width: 80%; max-height: 80%;">
    </div>


</section>
</body>
</html>

<!--TOKEN SALE-->
            <!-- <section style="min-height: 100vh; display: flex; justify-content: center; align-items: center;" id="sale">
                <div className="container-fluid">
                    <div className="container">
                        <div className="title-background" style="height: 10vh; display: flex; justify-content: center; align-items: center;">
                            <span className="font-title-size">TOKEN SALE</span>
                        </div>

                        <div className="wrap-seed-sale-container  ">
                            <div data-inviewport="scale-in"  style="margin: auto;">
                                <div style="display: flex; justify-content: center; transform: translateY(60%)">
                                    <span className="font-title-size">IDO SALE</span>
                                </div>

                                <div className="sale-container">
                                    <div style="transform: translateY(10%); display: flex;justify-content: center;">
                                        <img src="/public/assets/creo-icon-token.png" >
                                    </div>

                                    <div style="z-index: 0;">
             
                                        <div className="sale-price-container">
                                            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                                <span style="width: 85%;">
                                                    Token Price $0.05
                                                </span>
                                            </div>

                                            <div style="width: 50%; display: flex; justify-content: center;">
                                                <button className="button-token">LIVE SOON</button>
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <div className="bottom-token-sale-container">
                                                <div style="width: 50%; display: flex;border-right:1pt solid grey; justify-content: center; ">
                                                    <span style="color: black; font-size: 70%;">
                                                        Sale Percentage
                                                    </span>
                                                </div>
    
                                                <div style="width: 50%;     display: flex;justify-content: center;">
                                                    <div className="progress" >
                                                        <div className="progress-bar " role="progressbar" style="width: 100%; color: black;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div data-inviewport="scale-in-1" style="margin: auto;  filter: blur(5px);">
                                <div style="display: flex; justify-content: center; transform: translateY(60%)">
                                    <span className="font-title-size">PRIVATE ROUND</span>
                                </div>
                                

                                <div className="sale-container" > 
                                    <div style="transform: translateY(10%); display: flex;justify-content: center;">
                                        <img src="/public/assets/creo-icon-token.png" >
                                    </div>
                            
                                    <div style="z-index: 0;">
             
                                        <div className="sale-price-container">
                                            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                                <span style="width: 85%;">
                                                    Token Price $0.025
                                                </span>
                                            </div>

                                            <div style="width: 50%; display: flex; justify-content: center;">
                                                <button className="button-token">LIVE SOON</button>
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <div className="bottom-token-sale-container">
                                                <div style="width: 50%; display: flex;border-right:1pt solid grey; justify-content: center; ">
                                                    <span style="color: black; font-size: 70%;">
                                                        Sale Percentage
                                                    </span>
                                                </div>
    
                                                <div style="width: 50%;     display: flex;justify-content: center;">
                                                    <div className="progress">
                                                        <div className="progress-bar progress-bar-striped" role="progressbar" style="width: 100%; color: black;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-inviewport="scale-in-2" style="margin: auto; filter: blur(5px);">
                                <div style="display: flex; justify-content: center; transform: translateY(60%)">
                                    <span className="font-title-size">SEED</span>
                                </div>

                                <div className="sale-container">

                                    <div style="transform: translateY(10%); display: flex;justify-content: center;">
                                        <img src="/public/assets/creo-icon-token.png" >
                                    </div>

                                    <div style="z-index: 0;">
             
                                        <div className="sale-price-container">
                                            <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                                <span style="width: 85%;">
                                                    Token Price $0.015
                                                </span>
                                            </div>

                                            <div style="width: 50%; display: flex; justify-content: center;">
                                                <button className="button-token">LIVE SOON</button>
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <div className="bottom-token-sale-container">
                                                <div style="width: 50%; display: flex;border-right:1pt solid grey; justify-content: center; ">
                                                    <span style="color: black; font-size: 70%;">
                                                        Sale Percentage
                                                    </span>
                                                </div>
    
                                                <div style="width: 50%;     display: flex;justify-content: center;">
                                                    <div className="progress">
                                                        <div className="progress-bar progress-bar-striped" role="progressbar" style="width: 100%; color: black;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </section> -->


             <!--INVESTOR-->
                <!-- <section style="height: fit-content; min-height: 100vh; display: flex; justify-content: center; align-items: center;">
                    <div className="container-fluid title-background" style="display: flex; justify-content: center; align-items: center; ">
                        <div className="container"> -->
                            <!--OUR INVESTOR-->
                            <!-- <div style="justify-content: center;">
                                <div  style="text-align: center; padding-top: 20px;">
                                    <span data-inviewport="fadeIn" className="font-title-size">OUR INVESTORS</span>
                                </div>
                                <div className="centering-content">
                                    <div data-inviewport="fadeIn" className="wrap-partnership-container" >
                                       
                                        <div style=" margin: auto;">
                                            <img src="/public/assets/investor-partnership/muse.png">
                                        </div>
                                        <div style="margin: auto;" >
                                            <img src="/public/assets/investor-partnership/amaland.png">
                                        </div>
                                        <div style=" margin: auto; padding-right: 5px;" >
                                            <img src="/public/assets/investor-partnership/KOM.png">
                                        </div>
                                        <div style="margin: auto;" >
                                            <img src="/public/assets/investor-partnership/cuan-b-1.png" >
                                        </div>
                                      
                                        <div style="margin: auto;" >
                                            <img src="/public/assets/investor-partnership/TRAVELLER CAPITAL.png" >
                                        </div>
                                        <div style="margin: auto;" >
                                            <img src="/public/assets/investor-partnership/Phoenix Holdings png.png" >
                                        </div>
                                        <div style="margin: auto;" >
                                            <img src="/public/assets/investor-partnership/crytoleague.png" >
                                        </div>
                                        <div style="margin: auto; padding-left: 5px;" >
                                            <img src="/public/assets/investor-partnership/MH ventures.png" >
                                        </div>
                                        <div style="margin: auto;" >
                                            <img src="/public/assets/investor-partnership/abventures.png" >
                                        </div>
                                        <div style=" margin: auto;" >
                                            <img src="/public/assets/investor-partnership/safelaunch.png" >
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div style="display: flex; flex-direction: row; justify-content: space-around;"> -->
                                <!--INCUBATED BY-->
                                <!-- <div style="justify-content: center; margin-top: 20px; margin-bottom: 20px;">
                                    <div  style="text-align: center; padding-top: 20px;">
                                        <span data-inviewport="fadeIn" className="font-title-size">INCUBATED BY</span>
                                    </div>
                                    <div className="centering-content">
                                        <div data-inviewport="fadeIn" className="wrap-partnership-3-container" >
                                            <div  style="width: 90%; margin: auto;">
                                                <img src="/public/assets/investor-partnership/SKYX.png">
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div> -->
                                <!--AS SEEN ON-->
                                <!-- <div style="justify-content: center; margin-top: 20px; margin-bottom: 20px;">
                                    <div  style="text-align: center; padding-top: 20px;">
                                        <span data-inviewport="fadeIn" className="font-title-size">AS SEEN ON</span>
                                    </div>
                                    <div className="centering-content">
                                        <div data-inviewport="fadeIn" className="wrap-partnership-3-container" >
                                            <div  style="width: 90%; margin: auto; height: 125% ;display: flex; align-items: center; ">
                                                <a href="https://blockchainmedia.id/creo-engine-perkenalkan-game-kripto-mereka-evermore-knights/" target="_blank">
                                                    <img src="/public/assets/investor-partnership/Rectangle 7.png">
                                                </a>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!--SUPPORT AND PARTNERSHIP-->
                            <!-- <div>
                                <div  className="all-partnership-text centering-content" style="text-align: center; height: 10vh;">
                                    <span data-inviewport="fadeIn" className="font-title-size">SUPPORT & PARTNERSHIP</span>
                                </div>
                                <div data-inviewport="fadeIn" className=" wrap-partnership-container" style="justify-items: center;">
                                    <div  style=" margin: auto;">
                                        <img src="/public/assets/investor-partnership/SKYX.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/muse.png" >
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/DAOStarter.png" >
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/nomina.png" >
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/s.png" >
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/cuan-b-1.png" >
                                    </div>
                                    <div style="margin: auto; padding-left: 5px;">
                                        <img src="/public/assets/investor-partnership/KOM.png" >
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/TRAVELLER CAPITAL.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/Phoenix Holdings png.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/crytoleague.png">
                                    </div>
                                    <div style="margin: auto; padding-left: 5px;">
                                        <img src="/public/assets/investor-partnership/MH ventures.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/abventures.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/safelaunch.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/GotBit-logo-3.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/mpad_mono.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/amaland.png" >
                                    </div>

                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/eeVczL.png" >
                                    </div>

                                    <div style="width: 60% ;margin: auto;">
                                        <img src="/public/assets/investor-partnership/tugou.png">
                                    </div>
                                    <div style="margin: auto; padding-left: 10px; padding-right: 10px;">
                                        <img src="/public/assets/investor-partnership/auto-sultan.png" >
                                    </div>
                                    <div style="width: 90%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/CHEESUS LOGO V2.png">
                                    </div>
                                    <div style="width: 90%;margin: auto;">
                                        <img src="/public/assets/investor-partnership/coinxpad.png">
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/hecto.png" >
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/wnhair.png" >
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/maxin.png" >
                                    </div>
                                    <div style="margin: auto;">
                                        <img src="/public/assets/investor-partnership/serba hydraulic.png" >
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section> -->

                <!--MEDIA PARTNER-->
            <section className="bg-media-partner">
                <div className="container-fluid title-background wrap-media-partner-container">
                    <div className="container">
                        <div >
                            <div style="text-align: center;" >
                                <span data-inviewport="fadeIn"className="font-title-size">MEDIA PARTNERS</span>
                            </div>
        
                            <div data-inviewport="fadeIn" className=" wrap-media-list">
                                <div className="centering-content">
                                    <img src="/public/assets/media partner/digital-journal-logo.png" style="padding: 2rem;">
                                    <!-- <div style="display: block;">
                                        <img src="/public/assets/media partner/digital-journal-logo.png">
                                        <div style="display: flex; justify-content: center; padding-top: 1rem;">
                                            <span>View Article</span>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- <div  className="centering-content" >
                                    <img src="/public/assets/media partner/marketwatch.png" >
                                </div> -->
                                <div className="centering-content">
                                    <img src="/public/assets/media partner/yahoo_finance.png" style="padding: 2rem;" >
                                </div>
                                <div className="centering-content">
                                    <img src="/public/assets/media partner/asiaone.png" style="padding: 2rem;" >
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
                
            </section>
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(6,16,23,1) 44%, rgba(7,33,51,1) 62%, rgba(0,51,87,1) 100%)
            <div class="swiper rewards-desc">

                <div class="swiper-wrapper">
                  <div class="swiper-slide rewards-desc">
                    <div class="title-desc-reward-wrapper">
                      <span class="prize_text bolder-800">Zenny</span>
                      <img src="/public/assets/line.png"/>
                      <p >The currency in Evermore Knights. It is acquired throughout the game and used for making various purchases.</p>
                    </div>
                  </div>
                  <div class="swiper-slide rewards-desc">
                    <div class="title-desc-reward-wrapper">
                      <span class="prize_text bolder-800">Carillon</span>
                      <img src="/public/assets/line.png"/>
                      <p >
                        An item that is used to summon (gacha) characters and weapons in Evermore Knights
                      </p>
                    </div>
                  </div>
                  <div class="swiper-slide rewards-desc">
                    <div class="title-desc-reward-wrapper">
                      <span class="prize_text bolder-800">Divine Key</span>
                      <img src="/public/assets/line.png"/>
                      <p>
                        An item that allows players to access challenging dungeons in Evermore Knights
                      </p>
                    </div>
                  </div>
                  <div class="swiper-slide rewards-desc">Slide 4</div>
                  <div class="swiper-slide rewards-desc">Slide 5</div>
                  <div class="swiper-slide rewards-desc">Slide 6</div>
                  <div class="swiper-slide rewards-desc">Slide 7</div>
                </div>
              </div>
            </div>