<section style="height: 90vh; display: flex; align-items: center; justify-content: center;">

    <div class="container-fluid" style="max-width: 475px; width: 100%;">
        <img src="/public/assets/oops mammon.png" style="max-width: 80%; max-height: 80%;">
    </div>


</section>
</body>
</html>